#container 
{ 
    overflow:hidden;
    background: #53C7FD;
    border-radius: 10px 10px 0px 0px;
}

#container .principal 
{ 
  float: left;
  color: white;

  border-right: 1px solid #FFF;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
}

#container a:hover, .dropdown:hover .dropbtn 
{ 
    color: #E5017D    ;
    background: #53C7FD;
}

.dropdown{
    float:left;
    overflow:hidden;
}

.dropdown .dropbtn{
    color:white;
    padding: 10px 25px 10px 25px;
    background-color:#53C7FD;
    border-right: 1px solid #FFF;
}

#container a.last
{ border-right: 0px;}

.dropdown-content
{
    display:none;
    position:initial;
    background-color:#53C7FD;
    min-width:137px;
    margin-top:37px;
}

.dropdown-content a{
    display:block;
    float:none;
    color: white;
    text-align:left;
    padding: 12px 16px;
    text-decoration:none;
}

.dropdown-content a:hover{
    color: #53C7FD;
    text-decoration: none;
    background:#53C7FD ;
}

.dropdown:hover .dropdown-content{
    display:block;
}