html {
    height: 100%;
}


body {
    font: normal 14px sans-serif;    
    background: url(https://anzus28.github.io/non1/images/sun.png)  no-repeat,url(https://anzus28.github.io/non1/images/grass.png)20px 1600px repeat-x ,url(https://anzus28.github.io/non1/images/back.png) ;
     /*  background-image: url(https://anzus28.github.io/non1/images/sun.png);
    background: #FFF url(images\back.png) no-repeat;
    background-image: ;*/

    
    /*background-size:contain;*/
    color: #5D5D5D;
}

p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: bold 175% 'liberation sans', arial, sans-serif;
    color: #43423F;
    margin: 0 0 15px 0;
    padding: 15px 0 5px 0;
}

#banner h1 {
    font-size: 60px;
    color: #53C7FD;;
    padding: 30px 0px 0px 30px;
}
main h1{
  color: #E5017D;  

}

h2 {
    font: bold 165% 'liberation sans', arial, sans-serif;
}

h3 {
    font: bold 125% 'liberation sans', arial, sans-serif;
    padding: 0 0 5px 0;
    color: #53C7FD;;
}

h4,
h5,
h6 {
    margin: 0;
    padding: 0 0 5px 0;
    font: bold 110% 'liberation sans', arial, sans-serif;
    color: #53C7FD;;
    line-height: 1.5em;
}

a:hover {
    text-decoration: underline;
    color: #5D5D5D;
}

#fondo,
#header,
#banner,
#site_content,
#footer {
    margin-left: auto;
    margin-right: auto;
}

#fondo {
    width: 920px;
    background: #FFF;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*border-radius: 20px;*/
}

#header {
    background: transparent;
    width: 880px;
    padding: 8px 0 0 0;
}

#banner {
    width: 880px;
    position: relative;
    height: 250px;

}

#site_content {
    width: 880px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background: #FFF;
}

#site_content article {
    width: 600px;
    float: left;
}

#site_content aside {
    width: 250px;
    float:right;
    margin-left: 20px;
}

#Los-recien-llegados,
#Cuidados-de-su-Zaguate,#Contactenos {
    border: 1px solid #C9E5E9;
    justify-content: center;
    background-color:  #F5FEFF;
    width: 250px;
    float: right;
    border-radius: 20px;
    margin:0px auto;
}
#conciencia {
    justify-content: center;
    text-align: center ;
}
#formu {
   
    text-align: right ;
}
aside p{
    width: 200px;
    height: 200px;
    margin:0px auto;
}
aside h2 {
    font: bold 125% 'liberation sans', arial, sans-serif;
    padding: 0 0 5px 0;
    color: #53fdb6;;
    width: 200px;
    margin:0px auto;
    
}
button.desplegar {
    display: block;
    margin: 30px auto;
    padding: 9px 24px 7px;
    font-weight: 900;
    color: #53C7FD;
    outline-color: #53C7FD;
    border: 1px solid #53C7FD;
    background: #FFF;
}
.notiImg {
    width: 50px;
    float: right;
}

#dog {
    width: 210px;
    float: right;
    padding: 0px 20px 20px 0px;
 
    text-align: center;
}

#footer {
    width: 880px;
    font: normal 115% "liberation sans", arial, sans-serif;
    height: 55px;
    padding: 20px 0 5px 0;
    margin-bottom: -15px;
    text-align: center;
    background-color: #53C7FD;;
    color: #FFF;
}

#footer a,
#footer a:hover {
    color: #FFF;
    background: #53C7FD;;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
}
/*table {
    border-collapse: collapse;
    border: 1px #53C7FD;
  }*/
  table {
    border: #b2b2b2 1px solid;
    margin: 90px;
    text-align: center;
  }
  td, th {
    border: black 1px solid;
  }
  table img{
  
    width: 210px;
  }
  #rosa{
    background-color: #E5017D;
  }
#azul{
    background-color:dodgerblue ;
}
#noti1{
    background-color: blanchedalmond;
    width: 800px;
    height: 600px;
    margin:0px auto;   
}
#noti2{
    background-color: coral;
    
    width: 800px;
    height: 200px;
    margin:0px auto;
}